@media (max-width: 768px) {
  #hero-nav__sections {
    display: none;
  }

  #hero-nav__sections__hide {
    display: contents;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  #hero-nav__sections__hide i {
    background-color: black;
    color: white;
    padding: 0.4rem;
  }

  #hero-nav__social-contact a:first-child {
    display: none;
  }
}

@media (max-width: 360px) and (max-height: 812px) {
  #hero-nav__social-contact a:last-child {
    display: none;
  }

  .content {
    padding: 1rem;
  }
}
